<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Dipshit</title>
<style type="text/css">
body {
	background-color: #000000;
}
body,td,th {
	font-style: normal;
	color: red;
}
</style>
</head>
<body>
You and me, we had an agreement. You're not supposed to take him down the other path.<br />
<br />
Don't break that promise.<br />
<br />
You're going to take Gavin down this path whether you like it or not, or I swear I am going to destroy every fragment of his existence, and I'll make his mother watch.<br />
<br />
Get back on track. >:)
</body>
</html>