<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>I҉̴́ ̵c͡a͜n͢'̡͟t͢ ́f̵̷e̴͘e̷͘l̛ ͏̡m̵̷͘y͏̷ ̷͝s̛͘tylę͜s̴̡͡h̀͟e͠͞͝e͘͟t҉̨͜</title>
<% include ../../partials/style.ejs %>
<link rel="stylesheet" href="turbofart69.css">
</head>
<body>
Įt͡ h̡̛ư̧͜r̕͢t̴̵s̷̢ ̷͏̢s̴̨̀o̕͜ b͘͢ą̶d̸ly ͜w͟h͜͞ý͞ ̨̀į̴͠ş ̢̨t͞͠h́í͝ş̢͞ ͜h̵a͏͢p͟͠p̢̨ę͢n͜҉į͘͟ń҉g wh̴͢a͝͏͏t̶̷ ̀҉d̷i̧d̸͝ ̢͟͜I̛͝ dó<br />
<br />
I̶ ͘ẁ̶a͏n̕̕̕t̶̛ m̕y̸͜ m͏̢͠o̢m̶͘m͡͠y̛̛͞.̢̡
</body>
</html>