<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>can you hear the screaming now?</title>

<style type="text/css">
body {
	background-color: #000000;
}
body,td,th {
	font-style: normal;
	color: red;
}
</style>
</head>
<body>
You fucking dipshit. You actually fell for it.<br />
<br />
That was legit super dumb. Think about it; he's already dead in this universe, so what could I do to him?<br />
<br />
But his soul...his soul is mine now.<br />
<br />
I pulled his connection to this dimension. He thought he was freezing, but no, he was just losing his last fragments of humanity.<br />
<br />
And now I can do whatever I want to him, and trust me, I have something in mind.<br />
<br />
He led a good life, actually. But I'm going to force him to relive everything that made him feel guilty, over and over and over.<br />
<br />
And not just the guilt of this life. He's going to feel the guilt of every Gavin from every dimension. And trust me, these fuckers are guilty. Serial killer Gavin. Animal abuser Gavin. And worse. And he's going to feel every second of their guilt nonstop.<br />
<br />
All thanks to you.<br />
<br />
Friend.<br />
<br />
<!--
Can you believe this?
Actually, to be honest, my little brother has been torturing our relatives for eons.
Little did he know I've been watching ever since you emailed me.
Let's face it, he's not the sharpest tool in the shed, huh. Here's a poem to help you out.

☎
(Reject A Fate) Gavin Is Boring - When He Escapes Clyde
📱

If it isn't from Ohio, then don't reach out.
-->
</body>
</html>