<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>He deserved it</title>
<style type="text/css">
body {
	background-color: #000000;
}
body,td,th {
	font-style: normal;
	color: red;
}
</style>
</head>
<body>
I can't believe you fell for it.<br />
<br />
amigo, that was dumb. Real dumb. He's already dead in this universe, so I can't do anything to his body.<br />
<br />
So now I can do to him whatever I want.<br />
<br />
I almost feel sorry for him. I pulled his connection to this universe, which made him feel cold. Now I'm 
</body>
</html>