<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>I bet it's at Gmail!</title>
<% include ../partials/style.ejs %>
</head>
<body>
Wow, this place is weird! There's some funny stuff in here from whoever owned it last LOL!<br />
<br />
I mean, this isn't my style of humor. I prefer more slapstick, but I respect it.<br />
<div style="height:200px;width:100%;background-color:black;color:red;">Email my brother for more details. It's just his name. >:)</div>
<br />
Maybe they need to work on their delivery? 
</body>
</html>