<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>good to be back, buddy</title>
<style type="text/css">
body {
	background-color: #000000;
}
body,td,th {
	font-style: normal;
	color: red;
}
</style>
<meta http-equiv="refresh" content="10;URL='http://www.longlivegav.in/DIRIGIBLE'" /> 
</head>
<body>
So you got the ending where I followed Gavin down the rabbit hole. Does that mean I'm gonna haunt him forever? Does that mean that I am now All-Star?<br />
<br />
tell you what.<br />
<br />
I'm gonna put you back with Gavin, but send you on a different course. If you can get him through this, I promise I'll leave him alone for the rest of his life.<br />
<br />
When have I ever lied to you?<br />
<br />
>:)
</body>
</html>