<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>I̸s̕ ͞it̴ col̶d̀ in͘ her̢e͘ ór ͡is it ̴me?̢</title>
<% include ../../partials/style.ejs %>
</head>
<body>
Br͠r̡rŕ!̀ I̛ ̀did̵n̕'t th̨ink I ̸c͟o҉ul̴ḑ ̢get ̢c͞ol̀d, ̨y̡et̸ ̨h́e̛r͜e I ąm̵! ͝L̀OL̶<br />
<br />
Foun͡d a̸n͜ot͠h͟er ͝w̴eir͢d ̵nǫt̶e. ͏Hav͏e thes͝e peoplé never ̴h̕èa̴rd͢ ͝o͝f G͞all̸a̧gher?͏ ͜N҉òw ḨE ̛i͠s ̴fun͢n͠y͞!<br />
<div style="height:200px;width:100%;background-color:black;color:red;">Doing good so far. Keep it up. Now go get that pmosh file again. >:)</div>
<br />
</body>
</html>