<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style>* {font-family: "Comic Sans MS", cursive, sans-serif; font-size:50px;}</style>
<title>AREXXANZJE'S VID-EE-OH!</title>
</head>
<body background="wally_bg.png"> <audio  autoplay="1" loop><source src="rock.mp3"></audio>
He's alright, folks! You saved Gavin!<br />
<br />
My little brother can be really harsh to people, especially close family members.<br />
<br />
OK, "close" family. The Jeffcoat lineage goes back to my days in the Warpocalypse; my father, JRQ'ANTHE EATER OF A THOUSAND WORLDS, had a tryst with a young Geoffhoodie around 1200 years ago<br />
<br />
While the Jeffcoats weren't demons, they're close enough that we can't help but pull pranks. It's just that sometimes, Clyyde can get out of hand. So I kicked him out of reality.<br />
<br />
Give him a googolplex of years, he'll be fine. Time means nothing when you live forever.<br />
<br />
I can't fix Gavin, though. He's pretty broken. But I CAN fix the timeline.<br />
<br />
If you go <a href="ThankYouDanger">here</a>, you might get one more go-around to get a good ending for your boy.<br />
<br />
Good luck.
</body>
</html>