<br />
<br />
<br />
<br />
This is just one of <%-count;%> endings.<br />
Click <a href="/ThankYouDanger">here</a> to wrap this shit up, or <a href="/SAVELAURAANDGAVINGODDAMMIT">here</a> to try a different ending.
</body>
</html>