<html>
<head>
<title>Fake Ending</title>
<% include ../../../partials/endingstyle.ejs %>
</head>
<body>
Ducks. Ducks everywhere.<br />
<br />
Feffers started a small duck farm, and in the process, one of the water fowl accidentally took some Soy Sauce.<br />
<br />
Now everything is ducks.<br />
<br />
Everything.
<% include ../../../partials/endingfooter.ejs %>