<html>
<head>
<title>Fake Ending</title>
<% include ../../../partials/endingstyle.ejs %>
</head>
<body>
It was believed that Laura and Gavin were to be trapped in the server for as long as the server remained.<br />
<br />
But then it was remembered that there was a loose storyline involving Laura reaching out to a guy who called himself "the greatest penis-smith this world has ever seen", followed immediately by backing that nickname up and not using it due to him thinking others may construe it as if he forges cocks like they were Mjolnir.<br />
<br />
He then took the nickname back, saying he's never met a mortal who could lift his phallus.<br />
<br />
He did a 540 McFlip Twist into a manual, and it was so awesome that Laura and Gavin exploded.
<% include ../../../partials/endingfooter.ejs %>