<html>
<head>
<title>Fake Ending</title>
<% include ../../../partials/endingstyle.ejs %>
</head>
<body>
Gavin and Laura never did check out that haunted couch.<br />
<br />
Shame, really. You could Febreeze the piss out of it literally, and it was super comfy. It's now in the breakroom at OMEGA headquarters.
<% include ../../../partials/endingfooter.ejs %>