<html>
<head>
<title>Fake Ending</title>
<% include ../../../partials/endingstyle.ejs %>
</head>
<body>
AW CRAP I NEED TO WRITE SOMETHING FOR THIS uh turns out clyyde was a virus made by Obama-Trump, an illegal amalgamation of two of the most powerful people in the country THE END alright let's get back to Halo 2.
<% include ../../../partials/endingfooter.ejs %>