.body {
	animation: turnRed 20s;
    -moz-animation: turnRed 20s; /* Firefox */
    -webkit-animation: turnRed 20s; /* Safari and Chrome */
    -o-animation: turnRed 20s; /* Opera */
	animation-fill-mode:forwards;
}

.TJWGr6D8kZs {
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
	animation-fill-mode:forwards;
}

.TJWGr6D8kZs a, .TJWGr6D8kZs a:visited {
	font-size: 6.66em;
	color: #660000;
}

@keyframes turnRed {
    0% {
        background-color: #e6ecf0;
		color: #000000;
    }
	20% {
        background-color: #e6ecf0;
		color: #000000;
    }
    100% {
        background-color: black;
		color: red;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}