.evilbody {
	animation: turnRed 20s;
    -moz-animation: turnRed 20s; /* Firefox */
    -webkit-animation: turnRed 20s; /* Safari and Chrome */
    -o-animation: turnRed 20s; /* Opera */
	animation-fill-mode:forwards;
}

.evilreturns {
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
	animation-fill-mode:forwards;
}

.evilreturns a, .evilreturns a:visited {
	font-size: 6.66em;
	color: red;
	text-decoration: underline;
}

@keyframes turnRed {
    0% {
        background-color: #e6ecf0;
		color: #000000;
    }
	50% {
		background-color: black;
	}
    100% {
        background-color: black;
		color: red;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}