<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>404 is like LOL of Status Codes!</title>
<% include ../partials/style.ejs %>
</head>
<body>
    <div style="font-size: 5em;">404!</div>
Daaaaah, good try helping me out, man! I appreciate it, considering the situation we're in! But let me make it up to you with what is likely a true fact about me.<br />
Or at least a version of me from another universe! It's fun!<br />
<br />
<i><%=fact;%></i><br />
<br />
Look, you should probably really be helping me out. Find me a body, or some way out of this void.<br />
But if you must, you must.<br />
<br />
<button onclick="location.reload()">Gimme Another Gavin Fact</button>
</body>
</html>