<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>It's the end! FOR REAL!</title>
<% include ../partials/style.ejs %>
</head>
<body>
<div>YAY IT'S THE END GOODBYE.</div><br />
<div>Nah, for reals, J.D. came up with the idea of a Thank You ARG, reaching out to people and having them say thank you in one way or another. However, he did drop the ball on getting thank yous from some people (Shut up, you're not my real dad!), so some people didn't get to say thanks but they still wanted to, such as Sky and others. Anywho, in literally no particular order (it's random each reload):</div>
<br />
<% for(var i = 0;i<responses.length;i++) { %>
<fieldset>
    <legend style="border: 1px solid black"><%-responses[i].name;%></legend>
    <div style="width:800px;word-wrap: break-word;">
        <%-responses[i].html;%>
    </div>
</fieldset><br />
<%}%>
</body>
</html>