<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>It's the end! FOR REAL!</title>
<% include ../partials/style.ejs %>
</head>
<body>
<div>YAY IT'S THE END GOODBYE.</div><br />
<div>Nah, for reals, J.D. came up with the idea of a Thank You ARG, reaching out to people and having them say thank you in one way or another. However, he did drop the ball on getting thank yous from some people (Shut up, you're not my real dad!), so some people didn't get to say thanks but they still wanted to, such as Sky and others. Anywho, in literally no particular order (it's random each reload):</div>
<br />
<% for(var i = 0;i<responses.length;i++) { %>
<fieldset>
    <legend style="border: 1px solid black"><%-responses[i].name;%></legend>
    <div style="width:800px;word-wrap: break-word;">
        <%-responses[i].html;%>
    </div>
</fieldset><br />
<%}%>
<br />
<% if(isNewGameAlready == true) {%>
<h2><a href="/NewGameUltra">You've unlocked New Game Ultra!</a></h2>
<% } else if(ended == true) { %>
<fieldset>
    <legend style="border: 1px solid black">JDllama</legend>
    <div style="width:800px;word-wrap: break-word;">
        Shit, man. This was a lot of work to do, but doing it gave me a VERY strong appreciation of what you do.<br />
        <br />
        First, I hope you don't mind that I did this. I know you gave permission for fan works, and it's actually what inspired me to do a Thank You ARG. I really hope that you liked what I wrote; I was surprised that you made each character have such a definitive voice, and it was easy to slip in, ESPECIALLY Gavin.<br />
        <br />
        Second, I'm sorry to everyone. I started this as something I wanted to work on together, but I had so many ideas hit me all at once that I ended up taking over. I hope you guys don't take offense to that; I wanted to do this to have fun, but most importantly, I wanted EVERYONE to have fun.<br />
        <br />
        2.5, I'm sorry to everyone because I didn't want to take over in the sense of "my thank you is more important" or anything even REMOTELY close to that. Everyone that participated in either giving a thank you or writing something has been incredibly thankful of the original ARG itself, and this was not meant to overshadow their feelings.<br />
        <br />
        Third, always, ALWAYS feel free to reach out to me if you need me. That goes to the players, not just to Danger. I can be reached at jedidrunkenllama at gmail dot com.<br />
        <br />
        And lastly, if anyone is curious for whatever reason, the source code to everything in this ARG is here: <a href="https://github.com/jdllama/longlivegavin" target="_blank">https://github.com/jdllama/longlivegavin</a><br />
        <br />
        Thanks, y'all. See you next book.
    </div>
</fieldset>
<% } else { %>
<h2><a href="/NewGamePlus">You've unlocked New Game+!</a></h2>
<% } %>
</body>
</html>