<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>So long, farewell...</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="final.js"></script>
<link rel="stylesheet" type="text/css" href="/style.css" />
<% include ../partials/style.ejs %>
</head>
<body>
OK, I think I figured out a way to get back to your universe, but there's two big catches:<br />
<br />
1. I can't take over a body, BUT I do have some flexibility for what I can become. I can actually become an idea!<br />
<br />
2. I can't seem to get back to "my" time, before I left. I think there's some weird influence going on, reminds me of spider webs if that makes sense LOL<br />
<br />
<br />
Well that's no fun, but it actually gives me a lot that I can work with! I can live forever, if I can get myself planted in someone's head as an idea!<br />
<br />
So this is it. This is my actual proper goodbye to you. I get the feeling you and I may end up meeting again, but just in case, I want to let you know where I'm headed.<br />
<br />
I found this person named <strong><a href="https://en.wikipedia.org/wiki/Greg_Camp" target="_blank">Greg Camp</a></strong>, and it appears to be in the late nineties. I wonder what he can do with a super positive, enthusiastic idea all about wanting to be a star, glittery gold and looking for some body?<br />
<br />
I need your help one last time, though. I need you to click this button. This will finalize my transition from consciousness to idea. I'll miss you!<br />
<br />
<button id="button" onclick="doIt()">ACTIVATE</button>
<br />
</body>
</html>