<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>So long, farewell...</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="final.js"></script>
<% include ../partials/style.ejs %>
</head>
<body>
    <h3>Turn your sound on!</h3>
<br />
Thanks to my time with my mother, I found some old subliminal thought technology from OMEGA that I can partner with DORADO.<br />
<br />
I'm getting out of here, and heading back to my own dimension! There's a problem though.<br />
<br />
I can't take over a body. No technology is strong enough for that, not in this dimension at least.<br />
<br />
It also looks like I can't jump in anywhere after March 24th, 2017. Everything that happened with me exploring that town seems to have...well, have you ever taken a hammer to thin sheet of ice? That's what it looks like from my end. That's why they called their other device TARANTULA; they thought it was spider webs, but instead it was cracks, scattered across the continuum.<br />
<br />
I do wish you could see this.<br />
<br />
But it's alright! Your boy Gavin has a trick up his sleeve LOL I see a perfect spot I can jump in to. Looks to be around 1999, and there's a guy here, <strong><a href="https://en.wikipedia.org/wiki/Greg_Camp" target="_blank">Greg Camp</a></strong>, who looks like he could use some Gavin inspiration LOL<br />
<br />
If I do this right, I will transform into an idea. I will then be passed around person to person. I'll live on inside your minds, just not in a spooky creepy way! I'll be an earworm!<br />
<br />
But I need a good name for this. I need a name for what I will become. I think I will be a super positive, enthusiastic idea. One that's all about being a movie star, a plate spinning star, all KINDS of stars. One that's about trying to find some body to pop into. One that worries about the ice being too thin.<br />
<br />
<form onsubmit="return false;">
    <div id="holder"><input type="text" id="idea" placeholder="What kind of concept could I be?" autocomplete="off"/><br />
    <input type="submit" id="button" onclick="breakTheMold()"><br /></div>
</form>
<br />
<div id="response"></div>
</body>
</html>