<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>He shouldn't have been brought here</title>
<style type="text/css">
body {
	background-color: #001DFF;
}
body,td,th {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: normal;
	color: #FFFFFF;
}
</style>
<meta http-equiv="refresh" content="3;URL='http://www.longlivegav.in/ENDS'" /> 
</head>
<body>
Wait I thought I was hidden from him NO GET HIM AWAY FROM ME<br />
<br />
<h1>HE WASN'T SUPPOSED TO GET NEAR ME</h1>
<br />
<h1 style="font-size: 4.7em;">WHAT HAVE YOU DONE TO MY SON</h1>
</body>
</html>