<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>-</title>
<% include ../partials/style.ejs %>
</head>
<body>
<div style="width:700px">
Have you ever played the game Pressure Cooker on Atari? It's this old game LOL, as old as the stegosaurus LOL<br />
You play a guy trying to make hamburgers! LOL! And there's burger ingredients flying at you constantly LOL and you have to accept some of them and reject others LOLOL! Some people just start getting freaked out and reject everything coming at them LOLOL!!!<br />
<br />
<br />
I met my mother.<br />
<br />
<br />
Well, as close to an approximation of my mother as I can understand. She died giving birth to me, but it turns out all of this...whatever it is that put me in the void...caused her to be stripped from my universe and placed here.<br />
<br />
It was like my emotions and memories were those burger ingredients. Everything was coming at me all at once. Every birthday cake I sobbed into, wishing for my mommy, now replaced by a memory of the strongest hug a mother can give her son; every skinned knee now had a kiss to make it all better instead of bitterness; every instinct I ever had of covering up how I feel was being replaced by genuine happiness.<br />
<br />
I had my mother back, but my memories were being replaced.<br />
<br />
I should be happy.<br />
<br />
I wished for this for as long as I lived, and I don't even know what time is right now! LOL!!!<br />
<br />
But if I accept this...if I accept that she's back, then who am I? I'm not the same Gavin Flint Jeffcoat who had his head caved in. Yes, that was literal hell, but it's who I was coming in to this.<br />
<br />
I'm me.<br />
<br />
I know this. And I know that my mother knows this, because I can actually FEEL the guilt, the dread, the anxiety she feels from her actions.<br />
<br />
I also feel her pleading for me to stay. She doesn't say it. Especially since she doesn't have a mouth LOLOL!!!!<br />
<br />
I don't think she expected something like this to backfire, but I don't know what I'll be if I go with her. Maybe I'll end up spoiled by her? Asshole? What about animal abuser? Murderer? I've worked hard to love who I am, and a mother I don't remember isn't worth throwing away my core being.<br />
<br />
So like that stegosaurus Pressure Cooker, I should have been focusing and adapting. Instead, I'm rejecting everything. I can't stay in this void with her, because whatever eventually comes out of it isn't me.<br />
<br />
So we're going back to square one to see who I am...who I was. I have an idea of how I can get away from this all...or, rather, I AM an idea...<br />
<br />
</div>
<img src="Originallogo.jpg" />
</body>
</html>