<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DontWorryThisIsntCanonical</title>
<% include ../partials/style.ejs %>
</head>
<body>
Have you ever played the game Pressure Cooker on Atari? It's this old game LOL, as old as the stegosaurus LOL<br />
You play a guy trying to make hamburgers! LOL! And there's burger ingredients flying at you constantly LOL and you have to accept some of them and reject others LOLOL! Some people just start getting freaked out and reject everything coming at them LOLOL!!!<br />
<br />
<br />
I met my Mom. Laura Jeffcoat. Here, on this server. And I'm horrified.<br />
<br />
<br />
In all of the universes I've been able to see, she died in childbirth. The other me's are all so wildly different, but the one constant is she wasn't there.<br />
<br />
According to Mom, it has to do with "DORADO", some technology her company was messing around with, "erasing" her from the timeline.<br />
<br/>
So I'm the special one. I have my Mom! I should be happy, but like everything that's happened ever since I went to that damned town, it would come at a price LOLOL!!!<br />
<br />
I think it was back in May 2017, I was talking on Facebook with someone named Stephanie, and I asked "What if tomorrow you stop existing yesterday?" That's exactly what's happening. Mom has this aura around her, and while I'm close to her, my memories are actually being overwritten. I can actually feel them, and my personality, being replaced LOL!!!!!!<br />
<br />
Every birthday cake I cried into, wishing I had my mommy, was replaced by a birthday party that ended with a hug from her. Every skinned knee I had was fixed by a kiss and a smile from this wonderful woman. Can you imagine, me becoming a different Gavin Flint Jeffcoat? LOL!...Because I can't.<br />
<br />
I don't want to be replaced. I like me. I REALLY like me! I'm a cool guy LOL and who will I be if I'm not me? What if I like flannel? What if I'm...a jerkface?<br />
<br />
What if I like who I am, but I'm a murderer?<br />
<br />
So like that old stegosaurus of a game, I'm rejecting everything coming at me. All these new memories, trying to replace who I am...I SHOULD be accepting them. If I do, I can stay with Mom forever and be happy! No other Gavin has ever had this!! But there's no one anywhere in the multiverse that's worth throwing away who you are.<br />
<br />
Mom is being strong in all of this, telling me there might be a way to get me back to my dimension, and I believe her. For the most part. I don't really blame her; would you want your son to leave your side forever?<br />
<br />
So I'm going back to the beginning. To find myself. But let's just say I have an idea for how to get out...or, at least, I AM an idea....<br />
<br />
<img src="logo.png" />
</body>
</html>