<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>We've Got Movie Sign!</title>
<% include ../partials/style.ejs %>
</head>
<body>
<img src="poster.jpg" style="width: 460px;"/>
<!-- Poster made by Comrade. -->
</body>
</html>