<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Now I'm Truly Paranormal Gavin!</title>
<% include ../partials/style.ejs %>
</head>
<body>
Hey guys! Guess who ended up lost on his way to a gas station? LOL<br />
<br />
So it turns out that that Gary guy was TOTALLY crazy, I think? It’s hard for me to remember. I remember getting something literally stuck in my head, then I remember getting married, and now I’m raw code? What gives? LOL<br />
<br />
I think you sent the main version of me to where I needed to go, but somehow, a duplicate of me was made. I can’t get back to the real world, because hey, I ain’t got no body!<br />
<br />
Maybe there’s some switch here to let me live on. But in the meantime, I get to learn from the masters how to be a ghost! THIS IS SO AWESOME LOL!<br />
<br />
<div style="font-size: 2em;">
    <!-- <%=ghostIndex;%> / <%=ghostLength;%>--> <%-ghostPiece;%>
</div>
</body>
</html>