<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>These shapes look like letters...</title>
<% include ../partials/style.ejs %>
<style>
    span {
    margin: 20px;
    display:inline-block;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 3000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 3000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
</style>
</head>
<body>
<a href="https://docs.google.com/spreadsheets/d/15IZ7yrrM7ucCm_84pTK7Gmt31MYCdDwcob9xSoPP7Fc/edit#gid=351509709" target="_blank"><img src="crossword.png" /></a>
<br />
<br />
It's been interesting looking at other universes! All these different personalities, yet still the same Gavin. You can't beat the original!<br />
<br />
But look what I found another Gavin made in another dimension!? I mean, heck, I was an expert crossword solver!...Still no sign of Mom, though. Weird.<br />
<br />
In one of the other dimensions, I had MAJOR OCD (More like CDO LOL). Another one, I was nineteen time state champion plate spinner! <span>WHEE</span> LOL<br />
<br />
I don't mind being able to look, but to be honest, I'm trapped in a void, and I need to get myself away from this place, and I don't know how to start.
<!-- abhors biopsy, chimps -->
</body>
</html>