<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Oh god it failed</title>
<style type="text/css">
body {
	background-color: #001DFF;
}
body,td,th {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: normal;
	color: #FFFFFF;
}
</style>
<meta http-equiv="refresh" content="3;URL='http://www.longlivegav.in/DIRIGIBLE'" /> 
</head>
<body>
If you are seeing this, it means two things. One, congratulations, your reality didn't collapse!<br />
<br />
But it means Gavin didn't make it to his reality. Maybe. It looks like a copy of him is now here in this server, and I need your help.<br />
<br />
I'm asking another favor of complete strangers. I really need to break this habit.<br />
<br />
I'm sending you to talk to him. I need you to help guide him through the right folders on this server, to save him from this abyss.<br />
<br />
But you must never let him get close to me.
</body>
</html>