<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>These shapes look like letters...</title>
<% include ../partials/style.ejs %>
</head>
<body>
<a href="../../crossword.xlsx" target="_blank"><img src="../../crossword.png" style="width: 460px;"/></a>
<br />
<br />
It's been interesting looking at other universes! One of them, I had MAJOR OCD (I didn't even use "LOL" LOL). Another one, I was nineteen time state champion plate spinner!<br />
<br />
I don't mind being able to look, but to be honest, I'm trapped in a void, and I need to get myself away from this place, and I don't know how to start.
</body>
</html>