<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Now I'm Truly Paranormal Gavin!</title>
<style type="text/css">
body {
	background-color: #e6ecf0;
}
body,td,th {
	color: #000000;
}

.evil {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
</style>
</head>
<body>
Hey guys! Guess who ended up lost on his way to a gas station? LOL<br />
<br />
So it turns out that that Gary guy was TOTALLY crazy, I think? It’s hard for me to remember. I remember getting something literally stuck in my head, then I remember getting married, and now I’m HTML? What gives? LOL<br />
<br />
I think you sent the main version of me to where I needed to go, but somehow, a duplicate of me was made. I can’t get back to the real world, because hey, I ain’t got no body!<br />
<br />
Maybe there’s some switch here to let me live on.
<br />
<!-- 71144850f4fb4cc55fc0ee6935badddf -->
</body>
</html>