<html>
<head>
<title>Universe 1α Ending</title>
<% include ../../partials/endingstyle.ejs %>
</head>
<body>
Gavin Jeffcoat has armed himself with the technology to transport himself back to 1999 as a song idea.<br />
<br />
However, now he doesn't just send himself back.<br />
<br />
He and his mother are very strong personalities; they mesh together to form what may be the greatest, catchiest song to ever exist.<br />
<br />
In 1999, Will Smith released "Wild Wild West". The course of humanity is changed forever, due to the pure kinetic energy behind every beat, due to the pure emotion behind every syllable, due to the pure bombastic nature of Will Smith discussing the nature of a movie with a giant mechanical spider.<br />
<br />
There are no survivors. May God have mercy on our souls.<br />
<% include ../../partials/endingfooter.ejs %>