<html>
<head>
<title>Universe 1A Ending</title>
<% include ../../partials/endingstyle.ejs %>
</head>
<body>
It appears that the original intent of Gavin was to transport himself into the song "All Star". However, since the universes collided, the soulless, angry, hate-filled Gavin was the one flung back in time.<br />
<br />
Now a song by Limp Bizkit will be the one where Gavin lives on forever. Instead of a pure, upbeat song, it's a song full of pain, agony, and loathing for every tiny bit of humanity.<br />
<br />
Why did he do it?<br />
<br />
He did it all for the Nookie.
<% include ../../partials/endingfooter.ejs %>