<html>
<head>
<title>Universe Aα Ending</title>
<% include ../../partials/endingstyle.ejs %>
</head>
<body>
With Angela taken care of, now Laura can stay with Gavin.<br />
<br />
But the creature that ended with her certainly isn't her son.<br />
<br />
Due to the torture from Clyde, Laura is terrified to be in the presence of Gavin. And rightfully so. Much like Gavin almost lost his memories from the 1 Universe, Laura started to lose her memories just by being around him.<br />
<br />
But Laura didn't care. It was her son, after all, she thought, so it wasn't even a tough choice.<br />
<br />
And so she stayed by his side, memory by memory shredded by his malice, hoping that some portion of her love would bring him back.<br />
<br />
After all. Nothing is more powerful than a mother's love.
<% include ../../partials/endingfooter.ejs %>