<html>
<head>
<title>Universe 1 Ending</title>
<% include ../../partials/endingstyle.ejs %>
</head>
<body>
In 2046, NASA discovers that the Voyager satellite was destroyed. It collided with an asteroid far past Pluto.<br />
<br />
In time for the 100 year anniversary, NASA decides to form another golden disc, but allows people to vote for what songs are added.<br />
<br />
4chan gets involved, because why not, and chooses what may be the greatest song ever: All Star, by Smash Mouth.<br />
<br />
Shortly thereafter, the world ends. 4chan was not involved with this one, surprisingly.<br />
<br />
So our boy Gavin lives on on a golden disc, forever floating among the stars as song itself. He is the last bit of humanity left, and he careens on throughout the galaxy.<br/>
<br />
Until the satellite crashes on a planet that was starting to develop life. The golden disc shattered on impact, scattering among the fragments of fungi.<br />
<br />
After all, only shooting stars break the mold.
<% include ../../partials/endingfooter.ejs %>