<html>
<head>
<title>Ending</title>
<% include ../../partials/endingstyle.ejs %>
</head>
<body>
Thanks to Clyyde's interactions with you, Gavin never met his mother.<br />
<br />
She is still trapped on a server, never able to get to a body, never able to get to a dimension.<br />
<br />
Eventually, Angela Duzeh finds Laura and starts crying. After all, now she has Laura, and Laura can't do anything to outrun her. Now she'll love Angela. Angela just knows it.<br />
<br />
Clyyde comes back to our dimension after a googolplex of years, bearing no grudge toward his brother. They start hopping between dimensions, looking for more Jeffcoats to torment (although AREXXANZJE is watching closer).<br />
<br />
Gavin is without a mind. Without a soul. After an infinity of feeling guilt, he just is a husk of himself, and even that is barely held together. Driven by pure hatred of everything, most of all himself.<br />
<br />
But where Gavin is, time is fluid.<br />
<br />
Eventually, Gavin wants a new name. A new way of thinking. He takes a step back and looks at humanity.<br />
<br />
How such a pig-headed society could spit out something so vile and hateful as himself. He holds nothing but disdain.<br />
<br />
But he finds someone he likes. He likes the sound of this name.<br />
<br />
"Sherbasco." Has a good ring to it LOL
<% include ../../partials/endingfooter.ejs %>