<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style>
* {
    font-family:'Times New Roman';
    background-color: #00EFB7;
    color:black;
}
</style>
</head>
<body>
So you're either a god at sliding puzzles, or you hacked the game. You naughty ARGonaut.<br />
<br />
So if you had tried the puzzle once, failed it, and then tried again, you'd find me. I'd have added the Konami code to the page to break Duzeh's hold.<br />
<br />
It was going to be vague of what I was going to do to her, but I guess you can know it now.<br />
<br />
The problem with Angela was that she believed in infinte dimensions. Of course there ARE infinite dimensions, but there are still limits. After all, there are an infinite number of small numbers between 3 and 4, but none of them will ever equal the number 5.<br />
<br />
Laura was never destined to be with Charles, although Angela believed otherwise. The problem was there were ZERO dimensions where Angela and Laura were together.<br />
<br />
I almost feel bad for Angela. She tried to take matters into her own hands. Carpe diem and shit.<br />
<br />
So out of respect to that mindset, I'm going to leave her alive and suck the marrow out of every bone I can, before I grind her skin into hamburger.<br />
<br />
Refresh this page, and you'll be back to the page you're supposed to be at. Leave me alone, so I can enjoy my meal.
</body>
</html>