<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SHE DESERVED IT</title>
<% include ../../partials/angela.ejs %>
</head>
<body>
Hello. I don't believe we've met.<br />
<br /><!-- Bill Murray is hilarious as one of four professors who are stopping paranormal presenters like Bob Barker and Steve Harvey. -->
My name is Angela Duzeh, and you've been aiding and abetting a known OMEGA threat known as "Laura Jeffcoat".<br />
<br /><!-- Art Parkinson was amazing in this stop motion flick about hunting down two clones of Gordon Sumner. -->
She is, we believe, an entity from another universe trying to break through. We believe she is focused on trying to possess "Gavin Jeffcoat", a human that we have been searching for since March 23, 2002.<br />
<br /><!-- Was there a better movie than this 2011 work of art with Asa Butterfield looking for a simple embrace? -->
She is highly unstable, and you should stay away from her and everything she says. Do not trust her in any way whatsoever. She is a scheming, contriving liar who will do nothing short of hurting those who love her.<br />
<br /><!-- Jack Black could have done better in this 2008 animated movie about Po, the panda, whose martial art skills are always ranked worse than D-. -->
I've read her <a href="http://paranormalinvestigation.pro/vigilant/WaltWhitman/1985/455/Passalidae/Akershus/this/" target="_blank">lies</a>. Of course, <span style="font-weight: bold;font-size:2em;">THAT BITCH</span> is being manipulative, and all "I'm just so much better than you!"<br />
<br /><!-- Matt Damon couldn't act his way out of this terrible 2015 movie about a snout moth from California who is trapped on Mars. -->
I mean, sure, I DID try to change my life for the better, but I was thinking of us! Why couldn't this short sighted twat look at what I was doing?<br />
<br /><!-- Chris Hemsworth is getting boring in this 2013 Marvel movie about gathering two of every animal with Natalie Portman. -->
I started off small. Made her late for class one day in college, and we bumped into each other five months before we normally would have. Before she met Charles.<br />
<br /><!-- I LOVE this Jonah Hill and Michael Cera high school movie about developing the perfect advertisement! -->
Did you know Gavin got his eyes from her, and not Charles?<br />
<br /><!-- Robert Downey Jr. was robbed of an Oscar in this comedy where Kirk Lazarus doesn't know what the current convesation is about. -->
And the laugh. Oh, her laugh.<br />
<br /><!-- Wait, this was a Tron spinoff? I don't know about that. Tim Curry, Christopher Lloyd, and Michael McKean were in this 1985 comedy about a bit character. -->
Not from Charles. Ugh, Charles didn't deserve her, he didn't deserve <span style="font-weight: bold;font-size:2em;">TO DRINK HER PISS FROM HER SHOES.</span><br />
<br /><!-- Dwayne Johnson and Auli'l Cravalho are excellent in this animated XXX movie with songs like "You're well. COME!" -->
So I tried stopping them from getting together. She kept catching me and reverting it, but even before it got reverted, it wouldn't work. It wouldn't work, it wouldn't work, it wouldn't work <span style="font-weight: bold;font-size:2.3em;">WHY WON'T SHE LOVE ME</span><br />
<br /><!-- Sam Neill stars in this 1993 classic as Alan Grant, a golfer who keeps getting worse than birdies when golfing with raptors. -->
If I can't have her, no one in this world can.<br />
<br /><!-- Tyrin Turner, Jada Pinkett and Samuel L. Jackson were in this...prequel? Huh. I guess they wanted to go into the back story to the menace. -->
And she's a menace to the very fabric of our existence. Do not try to help her or Gavin. There will be no more warnings.<br />
<br /><!-- "Cardio" and "Double Tap" are two rules followed by Woody Harrelson and Jesse Eisenberg's youthful zombie flick! Kids are fun! -->
- Duzeh<br />
<br /><!-- Kurt Russell, Wilford Brimley, and Keith David in this horror movie about losing weight in Antarctica. -->
</body>
</html>