<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SHE DESERVED IT</title>
<style>
    @import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
body {
	background-color: black;
}
body,td,th {
	font-family: 'Share Tech Mono', sans-serif;
	font-style: normal;
	color: #0AFF00;
	text-shadow: red;
}
</style>
</head>
<body>
Hello. I don't believe we've spoken.<br />
<br />
My name is Angela Duzeh, and you've been aiding and abetting a known OMEGA threat known as "Laura Jeffcoat".<br />
<br />
She is, we believe, an entity from another universe trying to break through. We believe she is focused on trying to possess "Gavin Jeffcoat", a human that we have been searching for since March 23, 2002.<br />
<br />
She is highly unstable, and you should stay away from her and everything she says. Do not trust her in any way whatsoever. She is a scheming, contriving liar who will do nothing short of hurting those who love her.<br />
<br />
I've read her <a href="http://paranormalinvestigation.pro/vigilant/WaltWhitman/1985/455/Passalidae/Akershus/this/" target="_blank">lies</a>. Of course, <span style="font-weight: bold;font-size:2em;">THAT BITCH</span> is being manipulative, and all "I'm just so much better than you!"<br />
<br />
I mean, sure, I DID try to change my life for the better, but I was thinking of us! Why couldn't this short sighted twat look at what I was doing?<br />
<br />
I started off small. Made her late for class one day in college, and we bumped into each other five months before we normally would have. Before she met Charles.<br />
<br />
Did you know Gavin got his eyes from her, and not Charles?<br />
<br/>
And the laugh. Oh, her laugh.<br />
<br />
Not from Charles. Ugh, Charles didn't deserve her, he didn't deserve <span style="font-weight: bold;font-size:2em;">TO DRINK HER PISS FROM HER SHOES.</span><br />
<br />
So I tried stopping them from getting together. She kept catching me and reverting it, but even before it got reverted, it wouldn't work. It wouldn't work, it wouldn't work, WHY CAN'T SHE LOVE ME!!!<br />
<br />
If I can't have her, no one in this world can.<br />
<br />
And she's a dangerous entity. Do not try to help her or Gavin. There will be no more warnings.
</body>
</html>