<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style>* {font-family: "Comic Sans MS", cursive, sans-serif; font-size:50px;}</style>
<title>AREXXANZJE'S NEW GAME ULTRA!</title>
<meta http-equiv="refresh" content="10;URL='http://www.longlivegav.in/DIRIGIBLE'" /> 
</head>
<body background="wally_bg.png"> <audio  autoplay="1" loop><source src="rock.mp3"></audio>
Going one more run through! Brave. Get this right and you can get Gavin and his Mom in a universe, together.<br />
<br />
Screw it up, and it'll be impolite to use the words to describe the anguish your friend will feel with Clyyde and his new friend.<br />
<br />
Get it right.
</body>
</html>