<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Alright, Crono, when are you taking Lavos on?</title>
<style type="text/css">
body {
	background-color: #001DFF;
}
body,td,th {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: normal;
	color: #FFFFFF;
}
</style>
</head>
<body>
She........she's gone! Oh thank you thank you!<br />
<br />
I don't know how you've helped us out so much, but I can never pay you back for protecting me and my son.<br />
<br />
There isn't a way for me to fix everything. To get myself and Gavin back into our bodies, to fix the timelines.<br />
That's because it's up to YOU.<br />
<br />
But it's not going to be easy.<br />
<br />
Below is a box for a long forgotten OMEGA device. It was never used, but its purpose was to degenerate timelines back before any manipulation was done by DORADO. We've made nine variations of it, but never used this tenth one, DEGENERATION-X.<br />
<br />
I don't understand how this works, but it's simple. You've been inside three timelines already, including this one. You have to take all of the words that you've unlocked from each timeline and tabulate the vowels.<br />
<br />
A = 1<br />
E = 2<br />
I = 3<br />
O = 4<br />
U = 5<br />
<br />
Apparently "DIRIGIBLE" counts, but "ThankYouDanger", "NewGamePlus", "NewGameUltra" and "ENDS" don't count. Neither do files like pmosh. Weird.<br />
<br />
Once you've added up each timeline separately, you can key that timeline's number in here. Doing so will lock that universe in place, though.<br />
<br />
Key in the wrong number and a whole different universe will be locked in, so PLEASE be careful!<br />
<br />
I believe if you took the three universes and added them together, you MIGHT unify them.<br />
<br />
So I believe this is goodbye from me. Thank you so much for your work over the past months, trying to keep my boy safe. No matter what you choose, I'll be forever grateful.<br />
<br />
<form method="post">
    <div id="holder"><input type="text" name="dimension" id="dimension" placeholder="Break it down!" autocomplete="off"/><br />
    <input type="submit" id="button"><br /></div>
</form>
<!-- 335466 -->
</body>
</html>