<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SHE DESERVED IT</title>
<style>
    @import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
body {
	background-color: black;
}
body,td,th {
	font-family: 'Share Tech Mono', sans-serif;
	font-style: normal;
	color: green;
	text-shadow: red;
}
</style>
</head>
<body>
Hello. I don't believe we've spoken.<br />
<br />
My name is Angela Duzeh, and you've been aiding and abetting a known OMEGA threat known as "Laura Jeffcoat".<br />
<br />
She is, we believe, an entity from another universe trying to break through. We believe she is focused on trying to possess "Gavin Jeffcoat", a human that we have been searching for since March 23, 2002.<br />
<br />
I've read her <a href="http://paranormalinvestigation.pro/vigilant/WaltWhitman/1985/455/Passalidae/Akershus/this/" target="_blank">lies</a>. Of course, <div style="font-weight: bold;font-size:2em;">THAT BITCH</div> is being manipulative, and all "I'm just so much better than you!"<br />
<br />
</body>
</html>