<html>
<head>
<title>Universe α Ending</title>
<% include ../../partials/endingstyle.ejs %>
</head>
<body>
Nothing happens.<br />
<br />
After all, this is the universe where things are lining up to be fixed, but can't be fixed unless you push them in the right direction. It seems that, instead, you left this domino alone.<br />
<br />
Laura and Gavin are trapped on the server now. Thankfully there's no more Angela or Clyyde...but there's also nothing, period.<br />
<br />
Over time, Gavin's memories are overwritten by being in proximity to his mother. Having nowhere else to run, he just accepts his fate.<br />
<br />
His new personality emerges...and he's amazing. He's exactly the same as before. Always optimistic, would never harm a flea.<br />
<br />
Laura is ecstatic over having her son not only back, but remembering their time together.<br />
<br />
Unfortunately, it means their time together is endless. Trapped on a node.js server in the middle of the United States.<br />
<br />
But they are happy with what they have. After all, Laura has her baby boy.<br />
<br />
And Gavin has his Mommy.
<% include ../../partials/endingfooter.ejs %>