<html>
<head>
<title>True Ending</title>
<% include ../partials/style.ejs %>
</head>
<body>
Well that was fun, huh LOL<br />
<br />
I don't really know exactly how all that happened. Mom says that you somehow merged timelines together? FRIGGIN' AWESOME LOL<br />
<br />
Using the tech you found, you actually merged the universes together and built the perfect timeline.<br />
<br />
I have my Mom, you guys!!! MY OWN MOM! <b>AND I HAVE A BROTHER!</b> <span style="font-size: 1.7em;">AND MY FATHER IS ALIVE!!</span><br />
<br />
I'm happily married! And I have a kid! This kid is so cute, they're gonna know how to use "LOL" in every way possible LOL<br />
<br />
I remember everything that happened before, while still remembering everything that happened with Mom, Dad, and Kevin. The old memories have this gray haze to everything, but the new memories are in full color, so I can know what happened in what timeline. Overall, I don't recommend it LOL<br />
<br />
And how's this for awesome: WE'RE IN YOUR UNIVERSE TOO!<br />
<br />
I have a very real appreciation for what I have now. And I owe it all to you.<br />
<br />
I...I think I'm going to step away from social media, though. Sorry to just disappear like this, but I have a family now that has needs.<br />
<br />
So RIP Paranormal Gavin...and hello Normal Gavin. Or maybe I'll just go by "Gavin". Seems better LOL
<% include ../../partials/endingfooter.ejs %>